<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="script">
    <script src="/assets/jQuery/jquery-3.6.0.min.js"></script>
    <script src="/assets/main/js/AppBase.js"></script>
<!--    <script type="text/javascript" src="/assets/bootstrap-v5/js/popper.min.js"></script>-->
    <script type="text/javascript" src="/assets/bootstrap-v5/js/bootstrap.bundle.min.js"></script>
<!--    <script type="text/javascript" src="/assets/bootstrap-v5/js/bootstrap.bundle.js.map"></script>-->
    <script type="text/javascript" src="/assets/font-awesome-6.4.0/js/all.min.js"></script>
    <script type="text/javascript" src="/assets/iziToast-v1.4.0/iziToast-1.4.0.js"></script>
    <script type="text/javascript" src="/assets/jQuery/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/assets/jQuery/jquery.validate-1.19.3.min.js"></script>
    <script type="text/javascript" src="/assets/CLEditor1_4_5/jquery.cleditor.min.js"></script>
    <script type="text/javascript" src="/assets/sweetalert2/sweetalert2.all.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/select2.min.js"></script>
</th:block>