<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="orderJs">

    <script>
        const page = {
            urls: {
                getAllCartPageSearch: AppBase.API_CART
            },
            elements: {},
            loadData: {},
            commands: {},
            dialogs: {
                elements: {},
                loadData: {},
                commands: {}
            }
        }
        let currentPageNumber = 0;
        let currentCartId;
        let cart = new Cart();
        let keyword;
        let total;
        let sizePage;


        page.elements.formSearch = $('#formSearch');
        page.elements.btnSearch = $('#bthSearch');
        page.elements.keyword = $("#keyword");
        page.elements.total = $("#total")
        page.elements.sizePage = $("#sizePage");


        page.loadData.getAllCart = () => {
            keyword = page.elements.keyword.val();
            total = page.elements.total.val();
            sizePage = page.elements.sizePage.val();
            let obj = {
                currentPageNumber: currentPageNumber,
                keyword: keyword,
                total: total,
                sizePage: sizePage
            }
            console.log('obj' + obj)

            $.ajax({
                type: 'POST',
                headers: {
                    'accept': 'application/json',
                    'content-type': 'application/json'
                },
                url: page.urls.getAllCartPageSearch + `/search?size=${obj.sizePage}&sort=${obj.total},desc&page=${obj.currentPageNumber}&keyword=${obj.keyword}`,
                data: JSON.stringify(obj)
                // search?size=2&sort=id,desc
            })

                .done((data) => {
                    $('#cartTable tbody').empty();
                    listCart = data.content;
                    console.log(listCart)
                    currentPageNumber = data.pageable.pageNumber

                    totalPages = data.totalPages;

                    totalElements = data.totalElements;


                    $.each(listCart, (i, item) => {

                        let str = AppBase.renderCart(item, i);
                        $('#cartTable tbody').append(str);

                    })

                    let strPage = page.commands.renderPagination(currentPageNumber, totalElements, totalPages);
                    $('#body-foot').empty().append(strPage);
                    addAllEvent();

                })
                .fail((jqXHR) => {
                    console.log(jqXHR);
                })

        }

        page.commands.addEventChangePage = () => {
            $('.page-link').on('click', function () {
                let pageNumber = $(this).data('page');
                keyword = page.elements.keyword.val();
                total = page.elements.total.val();
                sizePage = page.elements.sizePage.val();
                currentPageNumber = pageNumber;
                console.log('add event')
                page.loadData.getAllCart();
            })
        }

        page.commands.addEventChangeStatus = () => {
            listCart.forEach(e => {
                $('.status' + e.id).on('dblclick', function () {
                    $.ajax({
                        type: 'PATCH',
                        headers: {'accept': 'application/json', 'content-type': 'application/json'},
                        url: page.urls.getAllCartPageSearch + `/status `,
                        data: JSON.stringify(e)
                    }).done((data) => {
                        page.loadData.getAllCart();
                    })
                })
            })
        }


        page.elements.formSearch.on('change', '.search', () => {
            keyword = page.elements.keyword.val();
            total = page.elements.total.val();
            sizePage = page.elements.sizePage.val();
            currentPageNumber = 0;
            page.loadData.getAllCart();
        })

        page.commands.renderPagination = (currentPageNumber, totalElements, totalPages) => {
            let str = `
                            <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-start">
                                <div class="dataTables_info" id="sampleTable_info" role="status" aria-live="polite">
                                    [ 1 -- 20 ] của [ ${totalElements} ] sản phẩm
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-7 pagination-foot">
                                <div class="dataTables_paginate paging_simple_numbers d-flex" id="sampleTable_paginate">
                                    <ul class="pagination">
                `;


            if (currentPageNumber != 0) {
                str += `
                            <li class="paginate_button page-item previous " id="sampleTable_previous" data-page="${currentPageNumber - 1}">
                                <a class="page-link" data-page="${currentPageNumber - 1}">Lùi</a>
                            </li>
                            `;
            } else {
                str += `
                            <li class="paginate_button page-item previous disabled" id="sampleTable_previous">
                                <a class="page-link">Lùi</a>
                            </li>
                            `;
            }

            for (let i = 1; i <= totalPages; i++) {
                if ((i - 1) === currentPageNumber) {
                    str += `
                            <li class="paginate_button page-item active">
                                <a id="pageActive" class="page-link" data-page="${i - 1}">${i}</a>
                            </li>
                        `;
                } else {
                    str += `
                            <li class="paginate_button page-item">
                                <a id="pageActive" class="page-link" data-page="${i - 1}">${i}</a>
                            </li>
                        `;
                }
            }
            if (currentPageNumber != (totalPages - 1)) {
                str += `
                            <li class="paginate_button page-item next" id="sampleTable_next" >
                                <a class="page-link" data-page="${currentPageNumber + 1}">Tiếp</a>
                            </li>
                        `;
            } else {
                str += `
                            <li class="paginate_button page-item next disabled" id="sampleTable_next">
                                <a class="page-link">Tiếp</a>
                            </li>
                        `;
            }
            return str;
        }


        function addEventDeleteClick() {
            $(".delete").on('click', function () {
                let cartId = $(this).data('id');
                page.loadData.findCartById(cartId).then((data) => {
                    currentCartId = data.id;
                    AppBase.showDeleteCartItemConfirmDialog().then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                headers: {
                                    'accept': 'application/json',
                                    'content-type': 'application/json'
                                },
                                type: "DELETE",
                                url: page.urls.getAllCartPageSearch + "/" + currentCartId
                            })
                                .done(() => {
                                    $("#tr_" + currentCartId).remove();
                                    AppBase.IziToast.showSuccessAlert(AppBase.AlertMessageVi.SUCCESS_DELETED);
                                    page.loadData.getAllCart();
                                })
                                .fail((error) => {
                                    AppBase.IziToast.showErrorAlert(AppBase.AlertMessageVi.ERROR_DELETED);
                                })
                        }
                    })
                })
            })

        }

        page.loadData.findCartById = (id) => {
            return $.ajax({
                type: 'GET',
                url: page.urls.getAllCartPageSearch + '/' + id
            })
                .done((data) => {
                    console.log(data)

                    $('.select-search').select2({
                        dropdownParent: $('#ModalUP')
                    });

                })
                .fail(() => {

                })
        }


        function addAllEvent() {
            // addEventEditClick();
            addEventDeleteClick();
            page.commands.addEventChangeStatus();

            page.commands.addEventChangePage();

        }


        page.initializeControlEvent = function () {

            // page.elements.btnUpImport.on('click', () => {
            //   page.dialogs.elements.formUpdateImport.trigger("submit");
            // })


            // page.elements.btnSearch.on("click", function () {
            //     page.elements.formSearch.trigger("submit");
            //
            // })


        }

        page.commands.loadData = () => {
            page.loadData.getAllCart();


        };
        $(() => {
            page.commands.loadData();
            page.initializeControlEvent();
        })
    </script>

</th:block>