<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <title>Quản lý đơn hàng</title>
   <th:block th:replace="layout/head :: head" />
</head>



<body class="app sidebar-mini rtl  pace-done">
<div class="pace  pace-inactive">
  <div class="pace-progress" data-progress-text="100%" data-progress="99"
       style="transform: translate3d(100%, 0px, 0px);">
    <div class="pace-progress-inner"></div>
  </div>
  <div class="pace-activity"></div>
</div>
<!-- Navbar-->
<header class="app-header">
  <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
                                  aria-label="Hide Sidebar"></a>
  <!-- Navbar Right Menu-->
  <ul class="app-nav">
    <div class="menu-bar">
      <span></span>
    </div>

    <!-- User Menu-->
    <li><a class="app-nav__item" href="/templates/index.html"><i class="bx bx-log-out bx-rotate-180"></i> </a>

    </li>
  </ul>
</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<th:block th:replace="layout/left-side-bar :: left-side-bar"/>
<main class="app-content">
  <div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item active"><a href="#"><b>Danh sách đơn hàng</b></a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <div id="sampleTable_wrapper"
               class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="sampleTable_length">
                  <label>Hiện <select
                        name="sampleTable_length" aria-controls="sampleTable"
                        class="form-control form-control-sm" id="sizePage">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select> danh mục</label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6" id="formSearch">
                <div class="col-sm-2" style="margin-bottom: -43px">
                  <span>Ngày</span>
                  <input id="myInput" type="date" placeholder="Search.." class="search">
                </div>
                <div id="sampleTable_filter" class="dataTables_filter">
                  <label>Tìm kiếm:<input
                        type="search" class="form-control form-control-sm search" id="keyword" placeholder=""
                        aria-controls="sampleTable"></label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-hover table-bordered dataTable no-footer"
                       id="cartTable" role="grid" aria-describedby="sampleTable_info">
                  <thead>
                  <tr role="row">
                    <th class="sorting" tabindex="0" aria-controls="sampleTable"
                        rowspan="1" colspan="1"
                        aria-label="ID đơn hàng: activate to sort column ascending"
                        style="width: 69.9531px;">Ngày tạo đơn</th>
                    <th class="sorting" tabindex="0" aria-controls="sampleTable"
                        rowspan="1" colspan="1"
                        aria-label="Khách hàng: activate to sort column ascending"
                        style="width: 114.531px;">Khách hàng</th>
                    <th class="sorting" tabindex="0" aria-controls="sampleTable"
                        rowspan="1" colspan="1"
                        aria-label="Đơn hàng: activate to sort column ascending"
                        style="width: 331.594px;">Đơn hàng</th>
                    <th id="total" class="sorting" tabindex="0" aria-controls="sampleTable"
                        rowspan="1" colspan="1"
                        aria-label="Số lượng: activate to sort column ascending"
                        style="width: 50.875px;">Tổng tiền</th>
                    <th class="sorting" tabindex="0" aria-controls="sampleTable"
                        rowspan="1" colspan="1"
                        aria-label="Tổng tiền: activate to sort column ascending"
                        style="width: 78.9219px;">Thông tin địa chỉ</th>
                    <th class="sorting " tabindex="0" aria-controls="sampleTable"
                        rowspan="1" colspan="1"
                        aria-label="Tình trạng: activate to sort column ascending"
                        style="width: 97.7969px;">Tình trạng</th>
                    <th class="sorting" tabindex="0" aria-controls="sampleTable"
                        rowspan="1" colspan="1"
                        aria-label="Tính năng: activate to sort column ascending"
                        style="width: 61.3281px;">Tính năng</th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="py-2 d-flex align-items-center justify-content-end " id="body-foot">
              <nav aria-label="Page navigation example" style="display: flex; justify-content: end">
                <ul class="pagination justify-content-between" id="paginationUl">
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- Essential javascripts for application to work-->
<th:block th:replace="layout/script :: script"/>
<th:block th:replace="product/order/orderJs :: orderJs"/>



</body>


</html>