        <html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="update-orderJs" th:inline="javascript">



    <script>

        let pageCart = {
            urls: {
                getAllCart :AppBase.API_CART,
                getAllCartDetail: AppBase.API_CART_DETAIL,
                getAllProducts :AppBase.API_PRODUCT
            },
            elements: {},
            loadData: {},
            commands: {},
            dialogs: {
                elements: {},
                loadData: {},
                commands: {}
            }
        }
        let locationRegion = new LocationRegion();
        let cartDetail = new CartDetail();
        let idCurrentCartDetail;
        let idCurrentLocationRegion;
        let color;
        let sizes;
        let idCurrentCart;
        let listIdCartDetail = [];
        let listCartDetailObj = [];
        pageCart.dialogs.elements.locationRegionIdUp = $('#locationRegionIdUp');
        pageCart.dialogs.elements.provinceUp = $('#provinceUp');
        pageCart.dialogs.elements.districtUp = $('#districtUp');
        pageCart.dialogs.elements.wardUp = $('#wardsUp');
        pageCart.dialogs.elements.productNameUp = $('.productName');

        pageCart.dialogs.elements.addressUp = $('#addressUp');

        pageCart.dialogs.loadData.getAllProvinces = () => {
            return $.ajax({
                type: 'GET',
                    url: 'https://vapi.vnappmob.com/api/province/'
            })
                .done((data) => {
                    $.each(data.results, (i, item) => {
                        let str = `<option value="${item.province_id}">${item.province_name}</option>`;
                        pageCart.dialogs.elements.provinceUp.append(str);

                    })

                    addEventChangeProvinceUp();
                    addEventChangeDistrictUp();

                })
                .fail((jqXHR) => {
                    AppBase.IziToast.showErrorAlert(AppBase.AlertMessageVi.ERROR_404);
                })
        }

        pageCart.dialogs.loadData.getAllDistrictsByProvince = (provinceId) => {
            return $.ajax({
                type: 'GET',
                url: 'https://vapi.vnappmob.com/api/province/district/' + provinceId
            })
                .done((data) => {
                    // console.log(data)
                    let dir = data.results;

                    pageCart.dialogs.elements.districtUp.empty();
                    $.each(dir, (i, item) => {
                        let str = `<option value="${item.district_id}">${item.district_name}</option>`;

                        pageCart.dialogs.elements.districtUp.append(str);

                    })


                })
                .fail((jqXHR) => {
                    AppBase.IziToast.showErrorAlert(AppBase.AlertMessageVi.ERROR_404);
                })
        }

        pageCart.dialogs.loadData.getAllWardsByDistrict = (districtId) => {
            return $.ajax({
                type: 'GET',
                url: 'https://vapi.vnappmob.com/api/province/ward/' + districtId
            })
                .done((data) => {
                    pageCart.dialogs.elements.wardUp.empty();
                    $.each(data.results, (i, item) => {
                        let str = `<option value="${item.ward_id}">${item.ward_name}</option>`;
                        pageCart.dialogs.elements.wardUp.append(str);
                    })


                })
                .fail((jqXHR) => {
                    AppBase.IziToast.showErrorAlert(AppBase.AlertMessageVi.ERROR_404);
                })
        }

        pageCart.loadData.getAllCartDetail = (id) =>{
                return $.ajax({
                    type: 'GET',
                    url: pageCart.urls.getAllCartDetail + id
                })
                    .done((data)=>{
                        console.log(data);
                    })
                    .fail((jqXHR)=>{
                        console.log(jqXHR);
                    })

        }

        pageCart.loadData.getProductName = () =>{
            return $.ajax({
                type: 'GET',
                url: pageCart.urls.getAllProducts
            })
                .done((data)=>{
                    $('.productName').empty();

                    $.each(data, (i, item) => {
                        let str = `<option value="${item.id}">${item.title}</option>`;
                        $('.productName').append(str);
                    })

                })
                .fail((jqXHR)=>{
                    console.log(jqXHR);
                })

        }

        pageCart.loadData.getProductNameByElement = (element) =>{
            return $.ajax({
                type: 'GET',
                url: pageCart.urls.getAllProducts
            })
                .done((data)=>{
                    element.empty();

                    $.each(data, (i, item) => {
                        let str = `<option value="${item.id}">${item.title}</option>`;
                        element.append(str);
                    })

                })
                .fail((jqXHR)=>{
                    console.log(jqXHR);
                })
        }

        pageCart.loadData.getSize = () =>{

            return $.ajax({
                type: 'GET',
                url: pageCart.urls.getAllCartDetail +'sizes'
            })
                .done((data)=>{
                    $('.size').empty();
                    $.each(data, (i, item) => {
                        let str = `<option value="${item}">${item}</option>`;
                        $('.size').append(str);
                    })

                })
                .fail((jqXHR)=>{
                    console.log(jqXHR);
                })

        }

        pageCart.loadData.getSizeByElement = (element) =>{

            return $.ajax({
                type: 'GET',
                url: pageCart.urls.getAllCartDetail +'sizes'
            })
                .done((data)=>{
                    element.empty();
                    $.each(data, (i, item) => {
                        let str = `<option value="${item}">${item}</option>`;
                        element.append(str);
                    })

                })
                .fail((jqXHR)=>{
                    console.log(jqXHR);
                })

        }

        pageCart.loadData.getColor = () =>{
            return $.ajax({
                type: 'GET',
                url: pageCart.urls.getAllCartDetail +'colors'
            })
                .done((data)=>{
                    $('.color').empty();
                    $.each(data, (i, item) => {
                        let str = `<option value="${item}">${item}</option>`;
                        $('.color').append(str);
                    })


                })
                .fail((jqXHR)=>{
                    console.log(jqXHR);
                })

        }

        pageCart.loadData.getColorByElement = (element) =>{
            return $.ajax({
                type: 'GET',
                url: pageCart.urls.getAllCartDetail +'colors'
            })
                .done((data)=>{
                    element.empty();
                    $.each(data, (i, item) => {
                        let str = `<option value="${item}">${item}</option>`;
                        element.append(str);
                    })


                })
                .fail((jqXHR)=>{
                    console.log(jqXHR);
                })

        }

        pageCart.loadData.getCart = () => {
            /*<![CDATA[*/
            let data = /*[[${data}]]*/ 'default';
            let cart = data.cart;
            console.log(" pageCart.loadData.getCart");
            console.log(cart)
            let name_receiver = cart.name_receiver;
            let phone_receiver = cart.phone_receiver;
            let locationRegion = cart.locationRegion;
            idCurrentLocationRegion = locationRegion.id;
            let status = cart.status;
            let idCart = cart.id;
            idCurrentCart = idCart
            let listCartDetail = cart.cartDetailDTOList;
            let totalAmount = cart.totalAmount;
            let address = cart.locationRegion.address;

            $('#nameReceiverUp').val(name_receiver);
            $('#phoneReceiverUp').val(phone_receiver);
            $('#totalAmountUp').val(totalAmount);
            $('#statusUp').val(status);
            $('#addressUp').val(address);
            pageCart.dialogs.loadData.getAllProvinces().then(() => {
                pageCart.dialogs.elements.provinceUp.val(locationRegion.provinceId)
            })

            pageCart.dialogs.loadData.getAllDistrictsByProvince(locationRegion.provinceId).then(() => {
                pageCart.dialogs.elements.districtUp.val(locationRegion.districtId)
            })

            pageCart.dialogs.loadData.getAllWardsByDistrict(locationRegion.districtId).then(() => {
                pageCart.dialogs.elements.wardUp.val(locationRegion.wardId)
            })

            $.each(listCartDetail, (i, item)=>{
                let str = AppBase.renderCartDetail(item);
                $('#tbCartDetail').append(str);
                pageCart.loadData.getProductName().then(()=>{
                    $.each(listCartDetail, (i, item)=>{
                        $(`#product_${item.id}`).val(item.productId)
                    })

                });
                pageCart.loadData.getSize().then(()=>{
                    $.each(listCartDetail, (i, item)=>{
                        $(`#size_${item.id}`).val(item.size)
                    })
                });
                pageCart.loadData.getColor().then(()=>{
                    $.each(listCartDetail, (i, item)=>{
                        $(`#color_${item.id}`).val(item.color)
                    })
                });
            });

            onChangeQuantity();
            addEventChangeProduct();
            addEventChangeColor();
            addEventChangeSize();

            addEventDeleteClick();
            /*]]>*/
        }

        function changeTotalAmountByProduct(id){
            let price = $(`#productPrice${id}`).text();
            let valueQuantity = $(`#quantityIn_${id}`).val();
            if (valueQuantity !== undefined && valueQuantity !== null) {
                $(`#product_${id}`).on('change', function(){
                    console.log("changeTotalAmountByProduct")
                    let amountNumber = parseInt(price.replace(/đ|\./g, ""));
                    let totalAmount = amountNumber * valueQuantity;
                    let strTotalAmount = AppBase.removeFormatNumberSpace(totalAmount);
                    let formatter = new Intl.NumberFormat('vi-VN', {
                        style: 'currency',
                        currency: 'VND'
                    }).format(strTotalAmount)
                    $(`#totalAmount_${id}`).text(formatter);
                })
                // product.addEventListener("click", function () {
                //     console.log(price)
                //     console.log(quantity)
                //     let quantityProduct = quantity.value;
                //     let amountNumber = parseInt(price.replace(/đ|\./g, ""));
                //     let totalAmount = amountNumber * quantityProduct;
                //     let strTotalAmount = AppBase.removeFormatNumberSpace(totalAmount);
                //     let formatter = new Intl.NumberFormat('vi-VN', {
                //         style: 'currency',
                //         currency: 'VND'
                //     }).format(strTotalAmount)
                //     $(`#totalAmount_${id}`).text(formatter);
                // })
            }
        }
        function changeTotalAmountByQuantity(id){
            let price = $(`#productPrice${id}`).text();
            let quantity = document.getElementById(`quantityIn_${id}`);
            let valueQuantity = $(`#quantityIn_${id}`).val();
            if (valueQuantity !== undefined && valueQuantity !== null) {
            quantity.addEventListener("input", function () {
                console.log("addEventListener")
                let quantityProduct = +quantity.value;

                let amountNumber = parseInt(price.replace(/đ|\./g, ""));
                let totalAmount = amountNumber * quantityProduct;
                let strTotalAmount = AppBase.removeFormatNumberSpace(totalAmount);
                let formatter = new Intl.NumberFormat('vi-VN', {
            style: 'currency',
            currency: 'VND'
        }).format(strTotalAmount)
                $(`#totalAmount_${id}`).text(formatter);
                })
            }
        }

        pageCart.loadData.getCartDetail = (id,idProduct, color, size,quantity,price,total) =>{
            let objCartDetail = {
                id:id,
                idProduct:idProduct,
                size:size,
                color:color,
                quantity:quantity,
                productPrice:price,
                totalAmountDetail:total
            }
            console.log("------------")
            console.log(objCartDetail)
            return $.ajax({
                dataType: 'json',
                contentType: 'application/json',
                type: 'POST',
                url: pageCart.urls.getAllCartDetail +'product-imp-cart-detail',
                data:JSON.stringify(objCartDetail)
            })
                .done((data)=>{
                    console.log("data------")
                    console.log(data.productImpQuantity)
                        let str = AppBase.renderCartDetail(data);
                        $('#tr_' + id).replaceWith(str);

                    if (data.productImpQuantity == null || data.productImpQuantity === 0)
                        AppBase.IziToast.showErrorAlert("Sản phẩm hết hàng")

                    pageCart.loadData.getProductNameByElement($(`#product_${data.id}`)).then(()=>{
                        $(`#product_${data.id}`).val(idProduct);

                    });
                    pageCart.loadData.getColorByElement($(`#color_${data.id}`)).then(()=>{
                        $(`#color_${data.id}`).val(color);
                    });
                    pageCart.loadData.getSizeByElement($(`#size_${data.id}`)).then(()=>{
                        $(`#size_${data.id}`).val(size);
                    });
                    pageCart.loadData.getPrice(idProduct).then(()=>{
                        $(`#productPrice${data.id}`).val(price);
                    })
                    changeTotalAmountByQuantity(id);
                    onChangeQuantity();
                    addEventChangeProduct();
                    addEventChangeColor();
                    addEventChangeSize();

                })
                .fail((jqXHR)=>{
                    console.log(jqXHR);
                })
            // call api http://localhost:8086/api/cart-details/product-imp-cart-detail
            // => trả về data => log data ra xem
            //let str = App.renderCartDetail(data)
            // $('#tr_'idCartDetail).replacewith(str)
        }

        pageCart.loadData.checkQuantityBySizeAndColor = (idProduct) =>{
            let sizeObj = $('.size').data('id');
            let colorObj = $('.color').data('id');
            let obj={
                id:idProduct,
                size: sizeObj,
                color: colorObj
            }
            return $.ajax({
                dataType: 'json',
                contentType: 'application/json',
                type: 'POST',
                url: pageCart.urls.getAllCartDetail + 'size_color',
                data: JSON.stringify(obj)
            })
                .done(()=>{

                })
                .fail((error)=>{
                    console.log(error)
                })
        }

        function doUpdateCart(){
            let customer = $('#nameReceiverUp').val();
            let phone = $('#phoneReceiverUp').val();
            let province = $('#provinceUp').val();
            let district = $('#districtUp').val();
            let wards = $('#wardsUp').val();
            let address = $('#addressUp').val();

            let objCart = {
                name_receiver:customer,
                phone_receiver:phone,
                locationRegion :{
                    id: idCurrentLocationRegion,
                    provinceId:province,
                    districtId :district,
                    wardId:wards,
                    address:address
                },
                cartDetailDTOList: listCartDetailObj
            }

            console.log("objCart",objCart)
            $.ajax({
                dataType: 'json',
                contentType: 'application/json',
                type: "PATCH",
                url: pageCart.urls.getAllCart + "/" + idCurrentCart,
                data: JSON.stringify(objCart)
            })
                .done((data) => {
                   AppBase.IziToast.showSuccessAlert(AppBase.AlertMessageVi.SUCCESS_UPDATED);
                    // addAllEvent();
                    setTimeout(()=>{
                        location.href = "/carts"
                    }, 1000);

                })
                .fail((jqXHR) => {

                })
        }
        function addEventDeleteClick() {
            $(".delete").on('click', function () {
                let cartId = $(this).data('id');
                pageCart.loadData.findCartById(cartId).then((data) => {
                     idCartDetail = data.id;
                    AppBase.showDeleteCartItemConfirmDialog().then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                headers: {
                                    'accept': 'application/json',
                                    'content-type': 'application/json'
                                },
                                type: "DELETE",
                                url: pageCart.urls.getAllCartDetail + "" + idCartDetail
                            })
                                .done(() => {
                                    $("#tr_" + idCartDetail).remove();
                                    AppBase.IziToast.showSuccessAlert(AppBase.AlertMessageVi.SUCCESS_DELETED);
                                })
                                .fail((error) => {
                                    AppBase.IziToast.showErrorAlert(AppBase.AlertMessageVi.ERROR_DELETED);
                                })
                        }
                    })
                })
            })

        }

        pageCart.loadData.findCartById = (id) => {
            return $.ajax({
                type: 'GET',
                url: pageCart.urls.getAllCartDetail + 'find-id-cart-detail/' + id
            })
                .done((data) => {
                    console.log(data)
                    //
                    // $('.select-search').select2({
                    //     dropdownParent: $('#tbCartDetail')
                    // });

                })
                .fail(() => {

                })
        }

        pageCart.loadData.getPrice = (idProduct) =>{
            return $.ajax({
                type: 'GET',
                url: pageCart.urls.getAllCartDetail +'price/' + idProduct
            })
                .done((price)=>{


                })
                .fail((jqXHR)=>{
                    console.log(jqXHR);
                })

        }

        function addEventChangeProduct() {
            $('.productName').on("change", function () {
                    // phải tìm id của cartDetail
                let idCartDetail = $(this).data("id");
                let productId = $(this).val();
                let colorPri = $(`#color_${idCartDetail}`).val();
                let sizePri = $(`#size_${idCartDetail}`).val();
                let quantity = $('.quantity input').val();
                let price = $(`.productPrice`).val();
                let total = $(`.totalAmount`).val();
                pageCart.loadData.getCartDetail(idCartDetail,productId, colorPri, sizePri,quantity,price,total)
                // changeTotalAmountByProduct(idCartDetail);
            })

        }
        function addEventChangeColor() {
            $('.color').on("change", function () {
                // phải tìm id của cartDetail
                let idCartDetail = $(this).data("id");
                let productId = $(`#product_${idCartDetail}`).val();
                let colorPri = $(this).val();
                let sizePri = $(`#size_${idCartDetail}`).val();
                let quantity = $('.quantity input').val();
                let price = $(`.productPrice`).val();
                let total = $(`.totalAmount`).val();
                pageCart.loadData.getCartDetail(idCartDetail,productId, colorPri, sizePri,quantity,price,total)


            })

        }
        function addEventChangeSize() {
            $('.size').on("change", function () {
                // phải tìm id của cartDetail
                let idCartDetail = $(this).data("id");
                let productId = $(`#product_${idCartDetail}`).val();
                let colorPri = $(`#color_${idCartDetail}`).val();
                let sizePri = $(this).val();
                let quantity = $('.quantity input').val();
                let price = $(`.productPrice`).val();
                let total = $(`.totalAmount`).val();
                pageCart.loadData.getCartDetail(idCartDetail,productId, colorPri, sizePri,quantity,price,total)


            })

        }

        function onChangeQuantity() {
            $(document).ready(function (){
                    $('.quantity').on('dblclick' ,function () {
                        let idCartDetail = $(this).data("id");
                        // idCurrentCartDetail = idCartDetail;
                        $(`#quantityIn_${idCartDetail}`).removeClass('test-hidden');
                        $(`#test-show_${idCartDetail}`).addClass('test-hidden');
                        changeTotalAmountByQuantity(idCartDetail)
                        // let quantity = $(this).val();
                    // let quantityUp = `<input id="quantityInput" > ${quantity}`;
                    //     console.log(quantity)
                    //     console.log(quantityUp)
                    // $('#quantityInput').val(quantityUp);
                })
            })

        }

        function addEventChangeProvinceUp() {
            pageCart.dialogs.elements.provinceUp.on("change", function () {
                let provinceId = $(this).val();
                if (provinceId !== 0) {
                    pageCart.dialogs.loadData.getAllDistrictsByProvince(provinceId).then(() => {
                        let districtId = pageCart.dialogs.elements.districtUp.val();
                        pageCart.dialogs.loadData.getAllWardsByDistrict(districtId);
                    })
                }
            })
        }

        function addEventChangeDistrictUp() {

            pageCart.dialogs.elements.districtUp.on("change", function () {
                let districtId = $(this).val();

                if (districtId !== 0) {
                    pageCart.dialogs.loadData.getAllWardsByDistrict(districtId);
                }

            })
        }

        pageCart.commands.loadData = () => {
            pageCart.loadData.getCart();

        }

        $('#frmUpdateCart').validate({
            rules: {
                nameReceiverUp: {
                    required: true,
                    minlength: 5,
                    maxlength: 20
                },
                phoneReceiverUp: {
                    required: true,
                },
                provinceUp: {
                    required: true,
                },
                districtUp: {
                    required: true,
                },
                wardUp: {
                    required: true,
                }

            },
            messages: {
                nameReceiverUp: {
                    required: 'Full name is required',
                    minlength: 'Min character of full name is ${0}',
                    maxlength: 'Max character of full name is ${0}'
                },
                phoneReceiverUp: {
                    required: 'Phone is required',
                },
                provinceUp: {
                    required: "Select province",
                },
                districtUp: {
                    required: "Select district",
                },
                wardUp: {
                    required: "Select ward"
                }
            },
            submitHandler: function () {
                doUpdateCart();
            }
        })
        pageCart.initializeControlEvent = () => {
            $('#btnSaveProductUpdate').on('click', ()=>{
                pageCart.loadData.getAllCartDetail(idCurrentCart).then((data)=>{
                    listIdCartDetail = data.map(function (e){
                        return e.id;
                    })
                    listCartDetailObj = listIdCartDetail.map(function (idCartDetail){
                        let idProduct = $(`#product_${idCartDetail}`).val();
                        let color = $(`#color_${idCartDetail}`).val();
                        let size = $(`#size_${idCartDetail}`).val();
                        let quantity = $(`#quantityIn_${idCartDetail}`).val();
                        return new CartDetail(idCartDetail, idProduct, color, size, quantity)
                    })
                    $('#frmUpdateCart').trigger('submit');
                })

            })



        }
        $(() => {
            pageCart.commands.loadData();

            pageCart.initializeControlEvent();




        })
    </script>

</th:block>