<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="productImport">
    <script src="../../../static/assets/jQuery/jquery-3.6.0.min.js"></script>
        <script src="../../../static/assets/main/js/AppBase.js"></script>


<script>
    const page = {
        urls:{
            getAllProductImport : AppBase.API_PRODUCT_IMPORT
        },
        elements:{},
        loadData:{},
        commands:{},
        dialogs:{
            elements:{},
            loadData:{},
            commands:{}
        }
    }

    let currentId;

        page.elements.tbodyTableImport = $('#tbProductImport tbody');

    page.loadData.getAllProductImport = () =>{
        $.ajax({
            type: 'GET',
            url: page.urls.getAllProductImport
        })
            .done((data)=>{
                $.each(data, (i, item)=>{
                    let str = AppBase.renderProductImport(item);
                    page.elements.tbodyTableImport.prepend(str);
                })
            })
                    .fail((jqXHR) => {
                        console.log(jqXHR);
                    })

    }

    function addEventDeleteClick(){
        $(".delete").on('click' , function (){
            let id = $(this).data('id');
            page.loadData.findProductById(id).then((data)=>{
                currentId= data.id;
                AppBase.showDeleteCartItemConfirmDialog()
            }).then((result)=>{
                if (result.isConfirmed){

                }

            })
        })
    }

    page.loadData.findProductById = (id) => {
        return $.ajax({
            type: "GET",
            url: page.urls.getAllProductImport + "/" + id,
        })
            .done((data) => {
            })
            .fail((jqXHR) => {
                let errors = jqXHR.responseJSON;
                if (errors) {
                    let str = "";
                    $.each(errors, (k, v) => {
                        str += `${v}`
                    })
                    AppBase.showErrorAlert(str);
                }
            })
    }







    page.initializeControlEvent = function(){

    };

    page.commands.loadData = () =>{
        page.loadData.getAllProductImport();
    };
    $(()=>{
        page.commands.loadData();

        page.initializeControlEvent();
    })
</script>

</th:block>