<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="productImport">

<script>
    const page = {
        urls:{
            getAllProductImport : AppBase.API_PRODUCT_IMPORT,
            getAllProductImportForDataGird: AppBase.API_PRODUCT_IMPORT + '/data-grid',
            updateProductImport : AppBase.API_PRODUCT_IMPORT,
            getAllProductImportPageSearch : AppBase.API_PRODUCT_IMPORT + '/search'
        },
        elements:{},
        loadData:{},
        commands:{},
        dialogs:{
            elements:{},
            loadData:{},
            commands:{}
        }
    }
    let currentPageNumber = 0;
    let currentId;
    let productImport = new ProductImport();
    let product;
    let fromDate;
    let toDate;
    let keyword;
    let price;
    let quantityMin;
    let quantityMax;
    let size = $('#size-page-imp').val();
    let dataByDataGrid = [];
    const URL = 'http://localhost:8086/api/product-import' ;

    let collapsed = false;
    const discountCellTemplate = function (container, options) {
        $('<div/>').dxBullet({
            onIncidentOccurred: null,
            size: {
                width: 150,
                height: 35,
            },
            margin: {
                top: 5,
                bottom: 0,
                left: 5,
            },
            showTarget: false,
            showZeroLevel: true,
            value: options.value * 100,
            startScaleValue: 0,
            endScaleValue: 100,
            tooltip: {
                enabled: true,
                font: {
                    size: 18,
                },
                paddingTopBottom: 2,
                customizeTooltip() {
                    return { text: options.text };
                },
                zIndex: 5,
            },
        }).appendTo(container);
    };

    page.elements.tbodyTableImport = $('#tbProductImport tbody');
    page.elements.formSearch = $('#formSearch');
    page.elements.btnSearch = $('#bthSearch');
    page.elements.dateInput = $("#myInput");
    page.elements.dateOutput = $("#myOutput");
    page.elements.keyword = $("#keyword")
    page.elements.myRangeMin = $("#myRangeMin")
    page.elements.myRangeMax = $("#myRangeMax")

    page.loadData.getAllProductImportForDataGrid = () =>{
        return $.ajax({
            type: 'GET',
            url: page.urls.getAllProductImportForDataGird + `?size=${size}&sort=id,desc&page=${currentPageNumber}&keyword=${keyword}`,
        })
            .done((data)=>{
                console.log('--------getAllProductImportForDataGrid---------');
                console.log(data)
                dataByDataGrid = data.content;
                size = +$('#size-page-imp').val();

                currentPageNumber = data.pageable.pageNumber

                totalPages = data.totalPages;

                totalElements = data.totalElements;

                let strPage = page.commands.renderPagination(currentPageNumber, totalElements, totalPages );
                $('#paginationUl').empty().append(strPage);
                addAllEvent();
            })
            .fail((error)=>{
                console.log(error);
            })
    }

    page.loadData.getAllProductImport = () =>{
        fromDate =  page.elements.dateInput.val();
        toDate = page.elements.dateOutput.val();
        keyword = page.elements.keyword.val();
        quantityMin = page.elements.myRangeMin.val();
        quantityMax = page.elements.myRangeMax.val();
        size = $('#size-page-imp').val();
        let obj = {
            currentPageNumber: currentPageNumber,
            keyword:keyword,
            fromDate: fromDate,
            toDate:toDate,
            quantityMin : quantityMin,
            quantityMax : quantityMax
        }
        console.log('obj'+obj)

        return $.ajax({
            type: 'POST',
            headers: {
                'accept': 'application/json',
                'content-type': 'application/json'
            },
            url: page.urls.getAllProductImport + `/search?size=${size}&sort=id,desc&page=${obj.currentPageNumber}&keyword=${obj.keyword}`,
            data: JSON.stringify(obj)
            // search?size=2&sort=id,desc
        })

            .done((data)=>{
                console.log(data)
                page.elements.tbodyTableImport.empty();
                listProductImport = data.content;
                size = $('#size-page-imp').val();

                currentPageNumber = data.pageable.pageNumber

                totalPages = data.totalPages;

                totalElements = data.totalElements;

                console.log(totalElements)

                $.each(listProductImport, (i, item)=>{
                    let str = AppBase.renderProductImport(item);
                    page.elements.tbodyTableImport.prepend(str);
                })
                let strPage = page.commands.renderPagination(currentPageNumber, totalElements, totalPages );
                $('#paginationUl').empty().append(strPage);


                addAllEvent();
            })
                    .fail((jqXHR) => {
                        console.log(jqXHR);
                    })

    }

    page.loadData.getAllProductImportByDataGrid = () =>{
        $('#gridContainer').dxDataGrid({
            dataSource: dataByDataGrid,
            keyExpr: 'id',
            allowColumnReordering: true,
            showBorders: true,
            grouping: {
                autoExpandAll: true,
            },
            searchPanel: {
                visible: true,
            },
            // paging: {
            //     pageSize: 10,
            // },
            // pager: {
            //     visible: true,
            //     allowedPageSizes: [5, 10, 50,100],
            //     showPageSizeSelector: true,
            //     showInfo: true,
            //     showNavigationButtons: true,
            // },
            remoteOperations: false,
            groupPanel: {
                visible: true,
            },
            // editing: {
            //     mode: 'popup',
            //     allowUpdating: true,
            //     allowAdding: true,
            //     // allowDeleting: true,
            // },

            rowAlternationEnabled: true,
            columns: [
                {
                    dataField: 'title',
                    caption: 'Sản phẩm',
                    groupIndex: 0,
                    alignment: 'center',
                },
                {
                    dataField: 'size',
                    caption: 'Kích cỡ',
                    dataType: 'string',
                    alignment: 'center',
                },
                {
                    dataField: 'color',
                    caption: 'Màu',
                    dataType: 'string',
                    alignment: 'center',
                },
                {
                    dataField: 'prices',
                    caption: 'Giá',
                    dataType: 'number',
                    alignment: 'center',
                },
                {
                    dataField: 'quantities',
                    caption: 'Số lượng nhập',
                    dataType: 'number',
                    alignment: 'center',
                },
                {
                    dataField: 'quantitiesExist',
                    caption: 'Số lượng còn',
                    dataType: 'number',
                    alignment: 'center',
                },
                {
                    dataField: 'selled',
                    caption: 'Đã bán',
                    dataType: 'number',
                    alignment: 'center',
                },
                {
                    dataField: 'dateAdded',
                    caption: 'Ngày nhập kho',
                    dataType: 'string',
                    alignment: 'center',
                },
                {
                    dataField: 'id',
                    dataType: 'number',
                        visible: false,
                },
                {
                    type: "buttons",
                    buttons: ["edit", {
                        text: "Edit",
                        // hint: "My Command",
                        onClick: function (e) {
                            console.log('-------------------')
                            console.log(e)
                            let idProductImp = e.row.data.id;
                            page.loadData.findProductById(idProductImp).then((productImport) => {
                                currentId = productImport.id;
                                console.log(productImport)

                                page.dialogs.elements.priceUp.val(productImport.price);
                                page.dialogs.elements.quantityUp.val(productImport.quantity);
                                page.dialogs.elements.sizeUp.val(productImport.size);
                                page.dialogs.elements.colorUp.val(productImport.color);
                                page.dialogs.elements.selectProduct.val(productImport.product.id);
                                page.dialogs.elements.dateAdded.val(productImport.date_added);
                                page.dialogs.elements.demoUp.text(productImport.quantity);

                                page.dialogs.elements.modalUpdate.modal("show");
                            })
                                .catch((error) => {
                                    AppBase.IziToast.showErrorAlert(AppBase.AlertMessageVi.ERROR_404);
                                });
                        }
                    }]
                }
            ],


            // onSaving(e) {
            //     const change = e.changes[0];
            //     console.log(change);
            //
            //     if (change) {
            //         e.cancel = true;
            //         // loadPanel.show();
            //         e.promise = saveChange(URL, change)
            //             // .always(() => { loadPanel.hide(); })
            //             .then((data) => {
            //                 console.log(data);
            //                 // let orders = e.component.option('dataSource');
            //
            //                 if (change.type === 'update') {
            //                     change.dataByDataGrid = data;
            //                 }
            //                 if (change.type === 'insert') {
            //                     change.dataByDataGrid = data;
            //                 }
            //                 // products = DevExpress.data.applyChanges(orders, [change], { keyExpr: 'id' });
            //             });
            //     }
            // },
        },).dxDataGrid('instance');

        function saveChange(url, change) {
            switch (change.type) {
                case 'update':
                    return sendRequest(`${url}/${change.key}`, 'PATCH', { key: change.key, values: JSON.stringify(change.data) });
                // case 'update':
                //     return ;
                default:
                    return null;
            }
        }

        function sendRequest(url, method, dataByDataGrid) {
            const d = $.Deferred();

            $.ajax(url, {
                method,
                dataByDataGrid,
                cache: false,
                xhrFields: { withCredentials: true },
            }).then((result) => {
                d.resolve(method === 'PATCH' ? result.dataByDataGrid : result);
            }, (xhr) => {
                d.reject(xhr.responseJSON ? xhr.responseJSON.Message : xhr.statusText);
            });

            return d.promise();
        }
    }

    page.commands.addEventChangePage = () => {
        $('.page-link').on('click', function () {
            let pageNumber = $(this).data('page');
            fromDate =  page.elements.dateInput.val();
           toDate = page.elements.dateOutput.val();
            keyword = page.elements.keyword.val();
            // quantityMin = page.elements.myRangeMin.val();
            // quantityMax = page.elements.myRangeMax.val();
            currentPageNumber= pageNumber;
            size = $('#size-page-imp').val();
            page.loadData.getAllProductImportForDataGrid().then(()=>{
                page.loadData.getAllProductImportByDataGrid();
            });

            // page.loadData.getAllProductImport();
        })
    }

    page.elements.formSearch.on('change' ,'.search', () => {
        fromDate =  page.elements.dateInput.val();
        toDate = page.elements.dateOutput.val();
        keyword = page.elements.keyword.val();
        quantityMin = page.elements.myRangeMin.val();
        quantityMax = page.elements.myRangeMax.val();
        currentPageNumber= 0;
        size = +$('#size-page-imp').val();
        page.loadData.getAllProductImport();
    })

    page.commands.renderPagination = (currentPageNumber, totalElements, totalPages) => {
        let str = ``;

        if (currentPageNumber != 0) {
            str += `
                            <li class="paginate_button page-item previous " id="sampleTable_previous" data-page="${currentPageNumber-1}">
                                <a class="page-link" data-page="${currentPageNumber-1}">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            `;
        } else {
            str += `
                            <li class="paginate_button page-item previous disabled" id="sampleTable_previous">
                                <a class="page-link"><span aria-hidden="true">&laquo;</span></a>
                            </li>
                            `;
        }

        for(let i = 1; i <= totalPages ; i++ ) {
            if ((i - 1 ) === currentPageNumber) {
                str += `
                            <li class="paginate_button page-item active">
                                <a id="pageActive" class="page-link" data-page="${i-1}">${i}</a>
                            </li>
                        `;
            }
            else {
                str += `
                            <li class="paginate_button page-item">
                                <a id="pageActive" class="page-link" data-page="${i-1}">${i}</a>
                            </li>
                        `;
            }
        }
        if(currentPageNumber != (totalPages - 1)){
            str += `
                            <li class="paginate_button page-item next" id="sampleTable_next" >
                                <a class="page-link" data-page="${currentPageNumber+1}"><span aria-hidden="true">&raquo;</span></a>
                            </li>
                        `;
        } else {
            str += `
                            <li class="paginate_button page-item next disabled" id="sampleTable_next">
                                <a class="page-link"><span aria-hidden="true">&raquo;</span></a>
                            </li>
                        `;
        }

        return str;
    }
    function addEventDeleteClick() {
        $(".delete").on('click', function () {
            let productId = $(this).data('id');
            page.loadData.findProductById(productId).then((data) => {
                currentId = data.id;
              AppBase.showDeleteCartItemConfirmDialog().then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            headers: {
                                'accept': 'application/json',
                                'content-type': 'application/json'
                            },
                            type: "DELETE",
                            url: page.urls.getAllProductImport + "/" + currentId
                        })
                            .done(() => {
                                $("#tr_" + currentId).remove();
                                AppBase.IziToast.showSuccessAlert(AppBase.AlertMessageVi.SUCCESS_DELETED);
                            })
                            .fail((error) => {
                                AppBase.IziToast.showErrorAlert(AppBase.AlertMessageVi.ERROR_DELETED);
                            })

                    }
                })
                })
            })

    }

    page.loadData.findProductById = (id) => {
        return $.ajax({
            type: 'GET',
            url: page.urls.getAllProductImport + '/' + id
        })
            .done((data) => {
                console.log(data)

                $('.select-search').select2({
                    dropdownParent: $('#ModalUP')
                });

            })
            .fail(() => {

            })
    }

    page.dialogs.elements.selectProduct = $('#select-productUp');

    page.dialogs.elements.priceUp = $('#priceUp');

    page.dialogs.elements.dateAdded = $('.dateUp');

    page.dialogs.elements.colorUp = $('#select-colorUp');

    page.dialogs.elements.sizeUp = $('#sizeUp');

    page.dialogs.elements.quantityUp = $('#myRangeUp');

    page.dialogs.elements.demoUp = $('#demoUp');

    page.dialogs.elements.formUpdateImport = $('#formUpdateProduct');

    page.elements.btnUpImport = $('#btnUpProductImport');

    page.dialogs.elements.modalUpdate = $('#ModalUP');

    page.dialogs.commands.doUpdateImport = () =>    {
        let size = page.dialogs.elements.sizeUp.find(':selected').val().trim();
        let color = page.dialogs.elements.colorUp.find(':selected').val().trim();
        let date_added = page.dialogs.elements.dateAdded.val().trim();
        let price = page.dialogs.elements.priceUp.val().trim();
        let quantity = page.dialogs.elements.quantityUp.val().trim();
        let productId = page.dialogs.elements.selectProduct.find(':selected').val().trim();


        let formData = new FormData();

        formData.append("size", size);
        formData.append("color", color);
        formData.append("price",price );
        formData.append("date_added", date_added);
        formData.append("quantity", quantity);
        formData.append("productId", productId);


        $.ajax({
            type: "PATCH",
            contentType: false,
            cache: false,
            processData: false,
            url: page.urls.updateProductImport + "/" + currentId,
            data: formData
        })
            .done((data) => {
                let str = AppBase.renderProductImport(data);
                $("#tr_" + currentId).replaceWith(str);

                AppBase.IziToast.showSuccessAlert(AppBase.AlertMessageVi.SUCCESS_UPDATED);

                addAllEvent();

                page.dialogs.elements.modalUpdate.modal("hide");
            })
            .fail((jqXHR) => {
                let errors = jqXHR.responseJSON;
                let str = '';
                $.each(errors, (k, v) => {
                    str += `<li for="${k}Up">${v}</li>`;
                    $("#" + k + "Up").addClass("error");
                })
                $('#ModalUP .modal-alert-danger').append(str);
                $('#ModalUP .modal-alert-danger').removeClass('hide').addClass('show');

                AppBase.IziToast.showErrorAlert(AppBase.AlertMessageVi.ERROR_UPDATED);
            })

    }

    function addEventEditClick() {
        $(".edit").on('click', function () {
            let productImportId = $(this).data('id');
            page.loadData.findProductById(productImportId).then((productImport) => {
                currentId = productImport.id;


                page.dialogs.elements.priceUp.val(productImport.price);
                page.dialogs.elements.quantityUp.val(productImport.quantity);
                page.dialogs.elements.sizeUp.val(productImport.size);
                page.dialogs.elements.colorUp.val(productImport.color);
                page.dialogs.elements.selectProduct.val(productImport.product.id);
                page.dialogs.elements.dateAdded.val(productImport.date_added);

                page.dialogs.elements.demoUp.text(productImport.quantity);



                page.dialogs.elements.modalUpdate.modal("show");
            })
                .catch((error) => {
                    AppBase.IziToast.showErrorAlert(AppBase.AlertMessageVi.ERROR_404);
                });
        })
    }
    function convertName(name){
        let name123 = name.toLowerCase();
        console.log(name123)
        let arr = name123.split('');
        let a = arr[0].toUpperCase();
        console.log(arr)
        for (let i = 1; i< arr.length; i++){
            console.log(arr[i])
            a += arr[i];
        }
        return a;
    }

    function addAllEvent(){
        addEventEditClick();
        addEventDeleteClick();
        page.commands.addEventChangePage();
    }

    page.dialogs.elements.formUpdateImport.validate({
        rules: {
            priceUp: {
                required: true,
                min: 100,
                max: 999999999,
                number: true
            },
            quantityUp: {
                required: true,
                min: 1,
                max: 1000,
                number: true
            }
        },
        messages: {
            priceUp: {
                required: "Vui lòng nhập giá.",
                min: "Giá sản phẩm tối thiểu là 100.000 VNĐ.",
                max: "Giá sản phẩm tối đa là 999.999.999 VNĐ.",
                number: "Giá sản phẩm phải là số."
            },
            quantityUp: {
                required: "Vui lòng nhập Số lượng.",
                min: "Số lượng sản phẩm tối thiểu là 1 .",
                max: "Số lượng sản phẩm tối đa là 1000.",
                number: "Số lượng sản phẩm phải là số."
            }
        },
        submitHandler: function () {
            page.dialogs.commands.doUpdateImport();
        }
    })

    page.initializeControlEvent = function(){

        page.elements.btnUpImport.on('click', () => {
            page.dialogs.elements.formUpdateImport.trigger("submit");
        })

        $('#size-page-imp').on('change', function (){
            size = $('#size-page-imp').val();
            page.loadData.getAllProductImportForDataGrid().then(()=>{
                page.loadData.getAllProductImportByDataGrid();
            });
            // page.loadData.getAllProductImport();
        })

        // page.elements.btnSearch.on("click", function () {
        //     page.elements.formSearch.trigger("submit");
        //
        // })


    }

    page.commands.loadData = () =>{
        page.loadData.getAllProductImportForDataGrid().then(()=>{
            page.loadData.getAllProductImportByDataGrid();
        });



    };
    $(()=>{
        page.commands.loadData();
        page.initializeControlEvent();
    })

</script>

</th:block>