<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="productImport">


<script>
    const page = {
        urls:{
            getAllProductImport : AppBase.API_PRODUCT_IMPORT,
            getAllProductImportForDataGird: AppBase.API_PRODUCT_IMPORT + '/data-grid',
            updateProductImport : AppBase.API_PRODUCT_IMPORT,
            getAllProductImportPageSearch : AppBase.API_PRODUCT_IMPORT + '/search'
        },
        elements:{},
        loadData:{},
        commands:{},
        dialogs:{
            elements:{},
            loadData:{},
            commands:{}
        }
    }
    let currentPageNumber = 0;
    let currentId;
    let productImport = new ProductImport();
    let product;
    let fromDate;
    let toDate;
    let keyword;
    let status;
    let price;
    let size = $('#size-page-imp').val();
    let dataByDataGrid = [];
    let idProductList = [];


    let collapsed = false;
    const discountCellTemplate = function (container, options) {
        $('<div/>').dxBullet({
            onIncidentOccurred: null,
            size: {
                width: 150,
                height: 35,
            },
            margin: {
                top: 5,
                bottom: 0,
                left: 5,
            },
            showTarget: false,
            showZeroLevel: true,
            value: options.value * 100,
            startScaleValue: 0,
            endScaleValue: 100,
            tooltip: {
                enabled: true,
                font: {
                    size: 18,
                },
                paddingTopBottom: 2,
                customizeTooltip() {
                    return { text: options.text };
                },
                zIndex: 5,
            },
        }).appendTo(container);
    };

    page.elements.tbodyTableImport = $('#tbProductImport tbody');
    page.elements.formSearch = $('#formSearch');
    page.elements.btnSearch = $('#bthSearch');
    page.elements.dateInput = $("#myInput");
    page.elements.dateOutput = $("#myOutput");
    page.elements.keyword = $("#keyword");
    // page.elements.status = $("#status")

    page.loadData.getAllProductImportForDataGrid = () =>{
        page.loadData.findProductByIdLimit().then((data)=>{
            fromDate =  page.elements.dateInput.val();
            toDate = page.elements.dateOutput.val();
            keyword = page.elements.keyword.val();
            // status = page.elements.status.val();
            idProductList = data.content.map(function (i) {
                return i[0];
            });
            let objProductImport ={
                idProducts : idProductList,
                fromDate:fromDate,
                toDate :toDate,
                keyword :keyword
                // status:status
            }
            $.ajax({
                type: 'POST',
                headers: {
                    'accept': 'application/json',
                    'content-type': 'application/json'
                },
                url: page.urls.getAllProductImport + '/by-id-product',
                data: JSON.stringify(objProductImport)
            })
                .done((data)=>{
                    console.log('dataByDataGrid')
                    console.log(data)
                    dataByDataGrid =[];
                    dataByDataGrid =data;

                    size = $('#size-page-imp').val();

                    $('#gridContainer').dxDataGrid({
                        dataSource: dataByDataGrid,
                        keyExpr: 'idProduct',
                        showBorders: true,
                        grouping: {
                            autoExpandAll: true,
                            allowCollapsing: true
                        },
                        paging: {
                            enabled: false
                        },
                        searchPanel: {
                            visible: false
                        },
                        remoteOperations: false,
                        groupPanel: {
                            visible: true,
                        },

                        rowAlternationEnabled: true,
                        columns: [
                            {
                                dataField: 'title',
                                caption: 'Sản phẩm',
                                groupIndex: 0,
                                alignment: 'center',
                            },
                            {
                                dataField: 'size',
                                caption: 'Kích cỡ',
                                dataType: 'string',
                                alignment: 'center',
                            },
                            {
                                dataField: 'color',
                                caption: 'Màu',
                                dataType: 'string',
                                alignment: 'center',

                            },
                            {
                                dataField: 'prices',
                                caption: 'Giá',
                                dataType: 'number',
                                alignment: 'center',
                                format: {
                                    formatter: function (value) {
                                        // Định dạng số từ 200000 thành 200,000đ
                                        let formattedValue = value.toLocaleString('en-US'); // Định dạng số thành chuỗi có dấu phẩy
                                        return formattedValue + "đ";
                                    }
                                }
                            },
                            {
                                dataField: 'quantities',
                                caption: 'Số lượng nhập',
                                dataType: 'number',
                                alignment: 'center',
                            },
                            {
                                dataField: 'quantitiesExist',
                                caption: 'Số lượng còn',
                                dataType: 'number',
                                alignment: 'center',
                            },
                            {
                                dataField: 'selled',
                                caption: 'Đã bán',
                                dataType: 'number',
                                alignment: 'center',
                            },
                            {
                                dataField: 'status',
                                caption: 'Trạng thái ',
                                dataType: 'string',
                                alignment: 'center',
                                cellTemplate: function(container, options) {
                                    let status = options.value;
                                    container.addClass("status-cell");
                                    container.text(status);
                                    if (status === "STOCKING") {
                                        container.css("color", "green");
                                        container.css("font-weight","bold");
                                        container.css("font-size","13px");
                                    } else if (status === "OUT_STOCK") {
                                        container.css("color", "red");
                                        container.css("font-weight","bold");
                                        container.css("font-size","13px");
                                    }
                                }

                            },

                            {
                                dataField: 'dateAdded',
                                caption: 'Ngày nhập kho',
                                dataType: 'string',
                                alignment: 'center',
                            },
                            {
                                type: "buttons",
                                buttons: ["edit", {
                                    text: "Edit",
                                    onClick: function (e) {
                                        let idProductImp = e.row.data.id;
                                        page.loadData.findProductById(idProductImp).then((productImport) => {
                                            currentId = productImport.id;
                                            console.log(productImport)

                                            page.dialogs.elements.priceUp.val(productImport.price);
                                            page.dialogs.elements.quantityUp.val(productImport.quantity);
                                            page.dialogs.elements.sizeUp.val(productImport.size);
                                            page.dialogs.elements.colorUp.val(productImport.color);
                                            page.dialogs.elements.selectProduct.val(productImport.product.id);
                                            page.dialogs.elements.dateAdded.val(productImport.date_added);
                                            page.dialogs.elements.demoUp.text(productImport.quantity);

                                            page.dialogs.elements.modalUpdate.modal("show");
                                        })
                                            .catch((error) => {
                                                AppBase.IziToast.showErrorAlert(AppBase.AlertMessageVi.ERROR_404);
                                            });
                                    }
                                }]
                            }
                        ],
                    },).dxDataGrid('instance');

                    let strPage = page.commands.renderPagination(currentPageNumber, totalElements, totalPages );
                    $('#paginationUl').empty().append(strPage);
                    addAllEvent();
                })
                .fail((error)=>{
                    console.log(error);
                })
        })
    }



    page.loadData.findProductByIdLimit = () => {
        fromDate =  page.elements.dateInput.val();
        toDate = page.elements.dateOutput.val();
        keyword = page.elements.keyword.val();
        // status = page.elements.status.val();
        let obj = {
            currentPageNumber: currentPageNumber,
            keyword:keyword,
            fromDate: fromDate,
            toDate:toDate
            // status: status
        }
        console.log(obj)
        return $.ajax({
            type: 'POST',
            headers: {
                'accept': 'application/json',
                'content-type': 'application/json'
            },
            url: `http://localhost:8086/api/products/id-limit?size=${size}&page=${obj.currentPageNumber}&keyword=${obj.keyword}`,
            data: JSON.stringify(obj)
        })
            .done((data) => {
                idProductList = data.content;
                size = $('#size-page-imp').val();
                currentPageNumber = data.pageable.pageNumber
                totalPages = data.totalPages;
                totalElements = data.totalElements;

            })
            .fail((error) => {
                console.log(error)
            })
    }


    page.commands.addEventChangePage = () => {
        $('.page-link').on('click', function () {
            let pageNumber = $(this).data('page');
            fromDate =  page.elements.dateInput.val();
           toDate = page.elements.dateOutput.val();
            keyword = page.elements.keyword.val();
            // status = page.elements.status.val();
            // quantityMin = page.elements.myRangeMin.val();
            // quantityMax = page.elements.myRangeMax.val();
            currentPageNumber= pageNumber;
            size = $('#size-page-imp').val();
            page.loadData.getAllProductImportForDataGrid();

            // page.loadData.getAllProductImport();
        })
    }

    page.elements.formSearch.on('change' ,'.search', () => {
        fromDate =  page.elements.dateInput.val();
        toDate = page.elements.dateOutput.val();
        keyword = page.elements.keyword.val();
        // status = page.elements.status.val();
        currentPageNumber= 0;
        size = $('#size-page-imp').val();
        page.loadData.getAllProductImportForDataGrid();
    })

    page.commands.renderPagination = (currentPageNumber, totalElements, totalPages) => {
        let str = ``;

        if (currentPageNumber != 0) {
            str += `
                            <li class="paginate_button page-item previous " id="sampleTable_previous" data-page="${currentPageNumber-1}">
                                <a class="page-link" data-page="${currentPageNumber-1}">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            `;
        } else {
            str += `
                            <li class="paginate_button page-item previous disabled" id="sampleTable_previous">
                                <a class="page-link"><span aria-hidden="true">&laquo;</span></a>
                            </li>
                            `;
        }

        for(let i = 1; i <= totalPages ; i++ ) {
            if ((i - 1 ) === currentPageNumber) {
                str += `
                            <li class="paginate_button page-item active">
                                <a id="pageActive" class="page-link" data-page="${i-1}">${i}</a>
                            </li>
                        `;
            }
            else {
                str += `
                            <li class="paginate_button page-item">
                                <a id="pageActive" class="page-link" data-page="${i-1}">${i}</a>
                            </li>
                        `;
            }
        }
        if(currentPageNumber != (totalPages - 1)){
            str += `
                            <li class="paginate_button page-item next" id="sampleTable_next" >
                                <a class="page-link" data-page="${currentPageNumber+1}"><span aria-hidden="true">&raquo;</span></a>
                            </li>
                        `;
        } else {
            str += `
                            <li class="paginate_button page-item next disabled" id="sampleTable_next">
                                <a class="page-link"><span aria-hidden="true">&raquo;</span></a>
                            </li>
                        `;
        }

        return str;
    }
    function addEventDeleteClick() {
        $(".delete").on('click', function () {
            let productId = $(this).data('id');
            page.loadData.findProductById(productId).then((data) => {
                currentId = data.id;
              AppBase.showDeleteCartItemConfirmDialog().then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            headers: {
                                'accept': 'application/json',
                                'content-type': 'application/json'
                            },
                            type: "DELETE",
                            url: page.urls.getAllProductImport + "/" + currentId
                        })
                            .done(() => {
                                $("#tr_" + currentId).remove();
                                AppBase.IziToast.showSuccessAlert(AppBase.AlertMessageVi.SUCCESS_DELETED);
                            })
                            .fail((error) => {
                                AppBase.IziToast.showErrorAlert(AppBase.AlertMessageVi.ERROR_DELETED);
                            })

                    }
                })
                })
            })

    }

    page.loadData.findProductById = (id) => {
        return $.ajax({
            type: 'GET',
            url: page.urls.getAllProductImport + '/' + id
        })
            .done((data) => {
                console.log(data)

                $('#ModalUP').on('shown.bs.modal', function() {
                    $('.select-search').select2({
                        // dropdownAutoWidth: true,
                        dropdownParent: $('#ModalUP')
                    });
                });


            })
            .fail(() => {

            })
    }

    page.dialogs.elements.selectProduct = $('#select-productUp');

    page.dialogs.elements.priceUp = $('#priceUp');

    page.dialogs.elements.dateAdded = $('.dateUp');

    page.dialogs.elements.colorUp = $('#select-colorUp');

    page.dialogs.elements.sizeUp = $('#sizeUp');

    page.dialogs.elements.quantityUp = $('#myRangeUp');

    page.dialogs.elements.demoUp = $('#demoUp');

    page.dialogs.elements.formUpdateImport = $('#formUpdateProduct');

    page.elements.btnUpImport = $('#btnUpProductImport');

    page.dialogs.elements.modalUpdate = $('#ModalUP');

    page.dialogs.commands.doUpdateImport = () =>    {
        let size = page.dialogs.elements.sizeUp.find(':selected').val().trim();
        let color = page.dialogs.elements.colorUp.find(':selected').val().trim();
        let date_added = page.dialogs.elements.dateAdded.val().trim();
        let price = page.dialogs.elements.priceUp.val().trim();
        let quantity = page.dialogs.elements.quantityUp.val().trim();
        let productId = page.dialogs.elements.selectProduct.find(':selected').val().trim();


        let formData = new FormData();

        formData.append("size", size);
        formData.append("color", color);
        formData.append("price",price );
        formData.append("date_added", date_added);
        formData.append("quantity", quantity);
        formData.append("productId", productId);


        $.ajax({
            type: "PATCH",
            contentType: false,
            cache: false,
            processData: false,
            url: page.urls.updateProductImport + "/" + currentId,
            data: formData
        })
            .done((data) => {
                let str = AppBase.renderProductImport(data);
                $("#tr_" + currentId).replaceWith(str);

                AppBase.IziToast.showSuccessAlert(AppBase.AlertMessageVi.SUCCESS_UPDATED);

                addAllEvent();

                page.dialogs.elements.modalUpdate.modal("hide");
            })
            .fail((jqXHR) => {
                let errors = jqXHR.responseJSON;
                let str = '';
                $.each(errors, (k, v) => {
                    str += `<li for="${k}Up">${v}</li>`;
                    $("#" + k + "Up").addClass("error");
                })
                $('#ModalUP .modal-alert-danger').append(str);
                $('#ModalUP .modal-alert-danger').removeClass('hide').addClass('show');

                AppBase.IziToast.showErrorAlert(AppBase.AlertMessageVi.ERROR_UPDATED);
            })

    }

    function addEventEditClick() {
        $(".edit").on('click', function () {
            let productImportId = $(this).data('id');
            page.loadData.findProductById(productImportId).then((productImport) => {
                currentId = productImport.id;


                page.dialogs.elements.priceUp.val(productImport.price);
                page.dialogs.elements.quantityUp.val(productImport.quantity);
                page.dialogs.elements.sizeUp.val(productImport.size);
                page.dialogs.elements.colorUp.val(productImport.color);
                page.dialogs.elements.selectProduct.val(productImport.product.id);
                page.dialogs.elements.dateAdded.val(productImport.date_added);

                page.dialogs.elements.demoUp.text(productImport.quantity);



                page.dialogs.elements.modalUpdate.modal("show");
            })
                .catch((error) => {
                    AppBase.IziToast.showErrorAlert(AppBase.AlertMessageVi.ERROR_404);
                });
        })
    }


    function addAllEvent(){
        addEventEditClick();
        addEventDeleteClick();
        page.commands.addEventChangePage();
    }

    page.dialogs.elements.formUpdateImport.validate({
        rules: {
            priceUp: {
                required: true,
                min: 100,
                max: 999999999,
                number: true
            },
            quantityUp: {
                required: true,
                min: 1,
                max: 1000,
                number: true
            }
        },
        messages: {
            priceUp: {
                required: "Vui lòng nhập giá.",
                min: "Giá sản phẩm tối thiểu là 100.000 VNĐ.",
                max: "Giá sản phẩm tối đa là 999.999.999 VNĐ.",
                number: "Giá sản phẩm phải là số."
            },
            quantityUp: {
                required: "Vui lòng nhập Số lượng.",
                min: "Số lượng sản phẩm tối thiểu là 1 .",
                max: "Số lượng sản phẩm tối đa là 1000.",
                number: "Số lượng sản phẩm phải là số."
            }
        },
        submitHandler: function () {
            page.dialogs.commands.doUpdateImport();
        }
    })

    page.initializeControlEvent = function(){

        page.elements.btnUpImport.on('click', () => {
            page.dialogs.elements.formUpdateImport.trigger("submit");
        })

        $('#size-page-imp').on('change', function (){
            size = $('#size-page-imp').val();
            page.loadData.getAllProductImportForDataGrid();


            // page.loadData.getAllProductImport();
        })

        page.elements.btnSearch.on("click", function () {
            page.elements.formSearch.trigger("submit");

        })


    }

    page.commands.loadData = () =>{
        page.loadData.getAllProductImportForDataGrid();
        // page.loadData.getAllProductImportForDataGrid().then(()=>{
        //     page.loadData.getAllProductImportByDataGrid();
        // });



    };
    $(()=>{
        page.commands.loadData();
        page.initializeControlEvent();



    })

</script>

</th:block>