<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="AddProductJs">
  <script type="text/javascript" src="/assets/lightslider/js/lightslider.js"></script>
  <script>
    let page = {
      urls:{
        getAllBrand: AppBase.API_BRAND,
        getAllCategory: AppBase.API_CATEGORY + '/get',
        getAllCategoryParent: AppBase.API_CATEGORY + '/category-parents',
        getAllCategoryChildByCategoryParentId: AppBase.API_CATEGORY,
        getAllDiscount: AppBase.API_DISCOUNT,
        getAllProducts: AppBase.API_PRODUCT,
        createProduct: AppBase.API_PRODUCT + '/create'
      },
      elements:{},
      loadData:{},
      commands:{},
      dialogs:{
        elements:{},
        loadData:{},
        commands:{}
      }
    }

    page.elements.selectBrand = $('#brand');
    page.elements.selectCategory = $('#category');
    page.elements.selectCategoryParent = $('#categoryParent');
    page.elements.selectDiscount = $('#discount');
    // elem image
    page.elements.btnChoiceImage = $('.boxChoiceImage');
    page.dialogs.elements.inputFileImage = $('#imageFileProduct');

    //input product
    page.dialogs.elements.frmCreateProduct = $('#frmCreateProduct');
    page.dialogs.elements.productTitle = $('#productTitle');
    page.dialogs.elements.productPrice = $('#productPrice');
    page.dialogs.elements.productDiscount = $('#discount');
    page.dialogs.elements.productCategory = $('#category');
    page.dialogs.elements.productCategoryParent = $('#categoryParent');
    page.dialogs.elements.productBrand = $('#brand');
    page.dialogs.elements.productImage = $('#imageFileProduct');
    page.dialogs.elements.productDescription = $('#productDescription');
    // input image
    let files = [];

    page.dialogs.elements.productImageFiles = page.dialogs.elements.productImage[0].files;
    page.dialogs.elements.container = $('.container-image');

    // btn save
    page.dialogs.elements.btnSaveCreateBrand = $('#btnSaveCreateBrand');
    page.dialogs.elements.btnSaveCreateProduct = $('#btnSaveProductCreate');

    page.loadData.showEditor = function (){
      page.dialogs.elements.productDescription.val('');
      page.dialogs.elements.productDescription.cleditor();
    }

    page.dialogs.commands.showImage = (list) =>{
      let images = '';
      for (let i = 0; i < list.length; i++){
        images += `<div class="image ms-2 me-2">
                          <img src="${URL.createObjectURL(list[i])}" alt="image">
                          <span class="delete-image" data-id="${i}">&times;</span>
                      </div>`;
      }
      $('.container-image').empty();
      $('.container-image').prepend(images);

      $('.delete-image').off();

      page.dialogs.commands.eventDeleteImage();
    }

    page.dialogs.commands.showLoading = () =>{
      $('#loading').removeClass('visually-hidden');
    }

    page.dialogs.commands.hideLoading = () =>{
      $('#loading').addClass('visually-hidden');
    }

    page.commands.handleChangeImage = () =>{
      page.dialogs.elements.productImage.on('change', ()=>{
        let file = page.dialogs.elements.productImage[0].files;
            for (let i = 0; i < file.length; i++){
              if (files.every(e => e.name != file[i].name)){
                files.push(file[i]);
              }
            }
        $('.container-image').empty();
        page.dialogs.commands.showImage(files);
      })
    }

    page.loadData.getAllBrand = () =>{
      $.ajax({
        type: 'GET',
        url: page.urls.getAllBrand
      })
              .done((data)=>{
                $.each(data, (i, item)=>{
                  let str = AppBase.renderBrand(item);
                  page.elements.selectBrand.append(str);
                })
              })
              .fail((jqXHR)=>{
                console.log(jqXHR);
              })
    }

    page.loadData.getAllDiscount = () =>{
      $.ajax({
        type: 'GET',
        url: page.urls.getAllDiscount
      })
              .done((data)=>{
                $.each(data, (i, item)=>{
                  let str = AppBase.renderDiscount(item);
                  page.elements.selectDiscount.append(str);
                })
              })
              .fail((jqXHR)=>{
                console.log(jqXHR);
              })
    }

    page.loadData.getAllCategory = ()=>{
      return $.ajax({
        type: 'GET',
        url: page.urls.getAllCategoryParent
      })
              .done((data)=>{
                $.each(data, (i, item)=>{
                  let str = AppBase.renderCategoryParent(item);
                  page.dialogs.elements.productCategory.append(str);
                })
              })
              .fail((jqXHR)=>{
                console.log(jqXHR);
              })
    }

    page.loadData.getAllCategoryParentByCategoryId = (categoryId, elem) =>{
      $.ajax({
        type: 'GET',
        url: page.urls.getAllCategoryChildByCategoryParentId + '/' + categoryId
      })
              .done((data)=> {
                elem.empty();
                $.each(data, (i, item) => {
                  let str = AppBase.renderCategoryChild(item);
                  elem.append(str);
                })
                elem.prepend('<option>-- Chọn danh mục con--</option>');
              })
              .fail((jqXHR)=>{
                console.log(jqXHR);
              })
    }

    page.commands.handleChangeCategory = (elemCategory, elemCategoryParent) =>{
      elemCategory.on('change', () =>{
        let categoryId = +elemCategory.val();
        if (isNaN(categoryId) || categoryId == -1){
          elemCategoryParent.empty();
          let str = `<option>-- Chọn danh mục con --</option>`;
          elemCategoryParent.append(str);
        }
        else{
          page.loadData.getAllCategoryParentByCategoryId(categoryId, elemCategoryParent);
        }
      })
    }

    page.dialogs.commands.eventDeleteImage = function (){
      let tem = [];
      $('.delete-image').on('click', function (){
        let index = $(this).data('id');
        for (let i = 0; i<files.length; i++){
          if (index == i){
            tem = files.filter(item => item != files[index])
          }
        }
        files = tem;
        $('.container-image').empty();
        page.dialogs.commands.showImage(files);
      })
    }

    $.validator.addMethod("handleSelectValidate", function(value, element, arg){
      return arg != value;
    }, "");

    page.dialogs.commands.doCreate = () =>{
      page.dialogs.commands.showLoading();
      let title = page.dialogs.elements.productTitle.val();
      let price = page.dialogs.elements.productPrice.val();
      let discountId = page.dialogs.elements.productDiscount.val();
      let discountName = page.dialogs.elements.productDiscount.find("option:selected").text();
      let categoryParentId = $('#category').val();
      let categoryParentName = $('#category').find("option:selected").text();
      let categoryId = $('#categoryParent').val();
      let categoryName = $('#categoryParent').find("option:selected").text();
      let brandId =  page.dialogs.elements.productBrand.val();
      let brandName = page.dialogs.elements.productBrand.find("option:selected").text();
      let avatar = page.dialogs.elements.productImage[0].files[0];
      let medias = page.dialogs.elements.productImage[0].files;
      let htmls = page.dialogs.elements.productDescription.val()

      let formData = new FormData();
      formData.append("title", title);
      formData.append("price", price)
      formData.append("description", htmls);
      formData.append("brandId", brandId)
      formData.append("brandName", brandName);
      formData.append("categoryId", categoryId);
      formData.append("categoryName", categoryName);
      formData.append("categoryParentId", categoryParentId);
      formData.append("categoryParentName", categoryParentName);
      formData.append("discountId", discountId);
      formData.append("discountName", discountName);
      formData.append("avatar", avatar);

      for (let i = 0; i<medias.length; i++){
        formData.append("medias", medias[i]);
      }


      $.ajax({
        type: 'POST',
        contentType: false,
        cache: false,
        processData: false,
        url: page.urls.createProduct,
        data: formData
      })
              .done((data)=>{
                  console.log(data);

                AppBase.IziToast.showSuccessAlert(AppBase.AlertMessageVi.SUCCESS_CREATED);
              })
              .catch((jqXHR)=>{
                console.log(jqXHR);
              })
              .always(()=>{
                page.dialogs.elements.productDescription.cleditor()[0].clear();
                page.dialogs.elements.frmCreateProduct[0].reset();
                $('.container-image').empty();
                files = [];
                page.dialogs.commands.hideLoading();
              })
    }

    page.dialogs.elements.frmCreateProduct.validate({
      rules: {
        productTitle:{
          required: true,
          minlength: 3,
          maxlength: 200
        },
        productPrice:{
          required: true,
          minlength: 0,
          maxlength: 9
        },
        category:{
          handleSelectValidate: "-1"
        },
        brand: {
          handleSelectValidate: "-1"
        }
      },
      messages: {
        productTitle:{
          required: 'Tên sản phẩm không được bỏ trống.',
          minlength: 'Số kí tự tối thiểu là 3 kí tự.',
          maxlength: 'Số kí tự tối đa là 3 kí tự.'
        },
        productPrice:{
          required: 'Giá sản phẩm không được bỏ trống.',
          minlength: 'Giá sản phẩm không được bỏ trống.',
          maxlength: 'Số tiền tối đa không lớn hơn 1.000.000.000'
        },
        category:{
          handleSelectValidate: 'Cần chọn danh mục sản phẩm!'
        },
        brand: {
          handleSelectValidate: 'Cần chọn tên thương hiệu!'
        }
      },
      submitHandler: function (){
        page.dialogs.commands.doCreate();
      }
    })

    page.commands.loadData = () =>{
      page.loadData.getAllCategory();

      page.loadData.getAllBrand();

      page.loadData.getAllDiscount();

      page.loadData.showEditor();
    }

    page.initializeControlEvent = () =>{


      $('#addNhaCungCap').on('click', () => {
        $('#modalNhaCungCap').modal('show');
      })

      $('.btn-cancel').on('click', () => {
        $('#modalNhaCungCap').modal('hide');
      })

      $('#addDanhMuc').on('click', () => {
        $('#modalAddDanhMuc').modal('show');
      })

      $('.btn-cancel').on('click', () => {
        $('#modalAddDanhMuc').modal('hide');
      })

      page.commands.handleChangeCategory(page.elements.selectCategory, page.elements.selectCategoryParent);

      page.commands.handleChangeImage();

      page.elements.btnChoiceImage.on('click', ()=>{
        page.dialogs.elements.productImage.val("");
        page.dialogs.elements.inputFileImage.trigger('click');
      })

      page.dialogs.elements.btnSaveCreateProduct.on('click', ()=>{
        page.dialogs.elements.frmCreateProduct.trigger('submit');
      })
    }

    $(()=>{
      page.commands.loadData();

      page.initializeControlEvent();
    })

  </script>

</th:block>