<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <a href="https://accounts.google.com/o/oauth2/auth?scope=email&redirect_uri=http://localhost:8086/google&response_type=code
    &client_id=465017811197-cre9oqecgs2u0rrhpcoockngtiua6g55.apps.googleusercontent.com&approval_prompt=force">Login google</a>
</div>

<script type="text/javascript" src="/assets/iziToast-v1.4.0/iziToast-1.4.0.js"></script>
<script type="text/javascript" src="/assets/jQuery/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/assets/jQuery/jquery.validate-1.19.3.min.js"></script>
<script type="text/javascript" src="/assets/sweetalert2/sweetalert2.all.min.js"></script>
<script src="/assets/main/js/AppBase.js"></script>

<script>
    let url = window.location.href;
    let search = window.location.search;
    console.log(url)
    console.log(search)
    let code = new URLSearchParams(window.location.search);
    let codeGoogle = code.get('code');
    console.log("---------------")
    console.log(code)
    console.log(codeGoogle)

    // if (codeGoogle !== null){
    //     $.ajax({
    //         type: 'POST',
    //         // headers: {
    //         //     'accept': 'application/json',
    //         //     'content-type': 'application/json'
    //         // },
    //         url: 'http://localhost:8086/google',
    //         data: JSON.stringify(codeGoogle)
    //     })
    //         .done(()=>{
    //             Swal.fire({
    //                 position: 'center',
    //                 icon: 'success',
    //                 title: 'Logged in successfully!',
    //                 showConfirmButton: false,
    //                 timer: 1500
    //             })
    //
    //             setTimeout(() => {
    //                 location.href = "/product-import";
    //             }, 2000);
    //         })
    //
    //         .fail((jqXHR)=>{
    //             console.log(jqXHR);
    //         })
    // }

</script>

</body>
</html>