<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="add-productImportJs">


  <script>
    const page = {
      urls:{
        createProductImport : AppBase.API_PRODUCT_IMPORT
      },
      elements:{},
      loadData:{},
      commands:{},
      dialogs:{
        elements:{},
        loadData:{},
        commands:{}
      }
    }
    let productImport = new ProductImport();

    page.dialogs.elements.priceCre = $('#priceCre');
    page.dialogs.elements.selectProduct = $('#select-product');
    page.dialogs.elements.dateAdded = $('#myInput-add');
    page.dialogs.elements.colorCre = $('#select-color');
    page.dialogs.elements.sizeCre = $('#sizeCre');
    page.dialogs.elements.myRange = $('#myRangeCre');

    page.dialogs.elements.formCreateImport = $('#formCreateProduct');
    page.elements.btnCreImport = $('#btnCreProductImport');


    page.dialogs.commands.doCreateImport = () => {


      let size = page.dialogs.elements.sizeCre.find(':selected').val().trim();
      let color = page.dialogs.elements.colorCre.find(':selected').val().trim();
      let date_added = page.dialogs.elements.dateAdded.val().trim();
      let price = page.dialogs.elements.priceCre.val().trim();
      let quantity = page.dialogs.elements.myRange.val().trim();
      let productId = page.dialogs.elements.selectProduct.find(':selected').val().trim();

      let formData = new FormData();

      formData.append("size", size);
      formData.append("color", color);
      formData.append("price",price );
      formData.append("date_added", date_added);
      formData.append("quantity", quantity);
      formData.append("productId", productId);

      $.ajax({
        type: "POST",
        url: page.urls.createProductImport,
        processData: false,
        contentType: false,
        data: formData
      })
          .done((data) => {
            console.log(data);
            productImport = data;
            AppBase.IziToast.showSuccessAlert(AppBase.AlertMessageVi.SUCCESS_CREATED);
            page.dialogs.elements.formCreateImport[0].reset();
          })
          .fail((jqXHR) => {
            if (jqXHR.status === 404) {
              AppBase.IziToast.showErrorAlert(AppBase.AlertMessageVi.ERROR_CREATED);
            } else {
              let errors = jqXHR.responseJSON;
              let str = '';
              $.each(errors, (k, v) => {
                str += `<li for="${k}Cre">${v}</li>`;
                $("#" + k + "Cre").addClass("error");
              })
            }
          })
    }

    page.dialogs.elements.formCreateImport.validate({
      rules: {
        priceCre: {
          required: true,
          min: 100,
          max: 999999999,
          number: true
        },
        quantityCre: {
          required: true,
          min: 1,
          max: 1000,
          number: true
        }
      },
      messages: {
        priceCre: {
          required: "Vui lòng nhập giá.",
          min: "Giá sản phẩm tối thiểu là 100.000 VNĐ.",
          max: "Giá sản phẩm tối đa là 999.999.999 VNĐ.",
          number: "Giá sản phẩm phải là số."
        },
        quantityCre: {
          required: "Vui lòng nhập Số lượng.",
          min: "Số lượng sản phẩm tối thiểu là 1 .",
          max: "Số lượng sản phẩm tối đa là 1000.",
          number: "Số lượng sản phẩm phải là số."
        }
      },
      submitHandler: function () {
        page.dialogs.commands.doCreateImport();
      }
    })

    page.initializeControlEvent = () =>{

      page.elements.btnCreImport.on('click', () => {
        page.dialogs.elements.formCreateImport.trigger("submit");
      })
    };

    page.commands.loadData = () =>{

    };
    $(()=>{
      page.commands.loadData();
      page.initializeControlEvent();
    })

    $(document).ready(function() {
      $('.select-search').select2();
    });

  </script>
</th:block>
