<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="add-productImportJs">
  <script src="../../../static/assets/jQuery/jquery-3.6.0.min.js"></script>
  <script src="../../../static/assets/main/js/AppBase.js"></script>

  <script>
    const page = {
      urls:{
        getAllProductImport : AppBase.API_PRODUCT_IMPORT
      },
      elements:{},
      loadData:{},
      commands:{},
      dialogs:{
        elements:{},
        loadData:{},
        commands:{}
      }
    }



    page.elements.tbodyTableImport = $('#tbProductImport tbody');


  // get enum size , color , status
    // status : create mặc định quantity >0 : còn hàng
    // select danh sách sản phẩm
    // quantity : lưu dc giá trị trên thanh
    // validate



    page.loadData.getAllSize = () => {
      $.ajax({
        type: "GET",
        url: page.urls.getAllProductImport
      })
              .done((data) => {
                let size = data.valueOf();

               $(".size ").append(size);

                // page.dialogs.elements.categoryIdCre.empty();
                // page.dialogs.elements.categoryIdUp.empty();
                $.each(data, (i, item) => {
                  let str = `<option value="${item.id}">${item.size}</option>`
                  page.dialogs.elements.categoryIdCre.append(str);
                  // page.dialogs.elements.categoryIdUp.append(str);
                })
              })
              .fail((error) => {
                console.log(error);
              })
    }


    page.initializeControlEvent = function(){
      // trigersubmit=> create
    };

    page.commands.loadData = () =>{
      page.loadData.getAllSize()
    };
    $(()=>{
      page.commands.loadData();

      page.initializeControlEvent();
    })
  </script>
</th:block>
