<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="list-productJS">
    <script>
        let currentIdProduct;

        let page = {
            urls:{
                getAllProducts: AppBase.API_PRODUCT,
                findProductById: AppBase.API_PRODUCT,
            },
            elements:{},
            loadData:{},
            commands:{},
            dialogs:{
                elements:{},
                loadData:{},
                commands:{}
            }
        }
        // btn event
        page.elements.btnEdit = $('.btn-edit');
        page.elements.btnDelete = $('.delete');
        // modal
        page.dialogs.elements.modalEdit = $('#modalEditProduct');
        // input edit
        page.dialogs.elements.frmEditProduct = $('#frmEditProduct');

        page.elements.tbodyTable = $('#tbProduct tbody');

        page.loadData.findProductById = function (id){
            return $.ajax({
                type: 'GET',
                url: page.urls.findProductById + '/' + id
            })
                .done((data) => {

                })
                .catch((error) => {
                    console.log(error);
                })
        }

        page.commands.offAllEvent = ()=>{
            page.elements.btnEdit.off();
            page.elements.btnDelete.off();
        }

        page.dialogs.commands.evenDelete = function (){
            page.elements.btnDelete.on('click', function (){

            })
        }

        page.dialogs.commands.eventEdit = function (){
            $('.btn-edit').on('click', function (){
                page.dialogs.elements.modalEdit.modal('show');
            })
        }

        page.loadData.getAllProducts = () =>{
            $.ajax({
                type: 'GET',
                url: page.urls.getAllProducts
            })
                .done((data) => {
                    $.each(data, (i, item)=>{
                        let str = AppBase.renderProduct(item);
                        page.elements.tbodyTable.prepend(str);
                    })

                    page.commands.offAllEvent();

                    page.dialogs.commands.eventEdit();

                    page.dialogs.commands.evenDelete();

                })
                .fail((jqXHR)=>{
                    console.log(jqXHR);
                })
        }

        page.commands.loadData = () =>{
            page.loadData.getAllProducts();
        }


        page.initializeControlEvent = () =>{


        }

        $(()=>{
            page.commands.loadData();

            page.initializeControlEvent();
        })
    </script>
</th:block>