<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="productJs">
  <script src="../../../static/assets/jQuery/jquery-3.6.0.min.js">
  <script src="../../../static/assets/main/js/AppBase.js"></script>

  <script>
    const page = {
      urls:{
        getAllProducts: AppBase.API_PRODUCT
      },
      elements:{},
      loadData:{},
      commands:{},
      dialogs:{
        elements:{},
        loadData:{},
        commands:{}
      }
    }


    page.elements.tbodyTable = $('#tbProduct tbody');

    page.loadData.getAllProducts = () =>{
      $.ajax({
        type: 'GET',
        url: page.urls.getAllProducts
      })
      .done((data=>{
        console.log(data);
        $.each(data, (i, item)=>{
          let str = AppBase.renderProduct(item);
          page.elements.tbodyTable.prepend(str);
        })

        .fail((jqXHR)=>{
          console.log(jqXHR);
        })
      }))
    }

    page.commands.loadData = () =>{
      page.loadData.getAllProducts();
    }

    page.initializeControlEvent = () =>{}

    $(()=>{
      page.commands.loadData();

      page.initializeControlEvent();
    })
  </script>

</th:block>