<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <title>Danh sách sản phẩm</title>
  <th:block th:replace="layout/head :: head"/>
</head>

<body>
<!--onload="time()" class="app sidebar-mini rtl"-->
<style>

  .btn-sort{
    display: flex;
    flex-direction: column;
  }
  .up-down-sort{
    display: flex;
    align-items: center;
    max-height: 10px;
    margin-right: 8px;
  }

  .up-down-sort:hover{
    color: darkgray;
    cursor: pointer;
  }

</style>
<!-- Navbar-->
<header class="app-header">
  <!-- Sidebar toggle button-->
  <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
  <!-- Navbar Right Menu-->
  <ul class="app-nav">
<!--    <div class="menu-bar">-->
<!--      <span></span>-->
<!--    </div>-->

    <!-- User Menu-->
<!--    <li><a class="app-nav__item" href="/templates/index.html"><i class='bx bx-log-out bx-rotate-180'></i> </a>-->

<!--    </li>-->
  </ul>
</header>
<!-- Sidebar menu-->
<th:block th:replace="layout/left-side-bar :: left-side-bar"/>

<main class="app-content">
  <div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item active"><a><b>Danh sách sản phẩm</b></a></li>
    </ul>
    <div id="clock"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <div class="row element-button">

              <div class="col-sm-2 d-flex align-items-center">
                <a class="btn btn-add btn-sm" href="/products/create" id="add" title="Thêm mới sản phẩm"><i class="fas fa-plus"></i>
                  Thêm mới sản phẩm</a>
              </div>

            <div class="d-flex justify-content-end col-sm-10">
              <div class="input-group justify-content-end" style="padding: 3px 0px;">
                <input id="key-search" type="text" class="form-control-sm" placeholder="Search...">
                <button id="en-search" class="btn btn-primary btn-sm" style="margin-bottom: 0"  type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>

              <div class="ms-2 me-2 d-flex align-items-center">
                <a class="btn btn-secondary btn-sm" style="margin-bottom: 0;padding: 5.5px 9px;" id="delete" title="Xóa"><i
                        class="fas fa-trash-alt"></i> Xóa </a>
              </div>
            </div>

          </div>

        </div>

          <table class="table table-hover table-bordered" id="tbProduct">
            <thead>
            <tr>
              <th><input type="checkbox" id="all-delete"/></th>
              <th>
                <div class="d-flex">
                  <div class="btn-sort">
                    <div id="asc-code" class="up-down-sort">
                      <a class="up-button">
                        <i class="fa-solid fa-caret-up"></i>
                      </a>
                    </div>

                    <div id="desc-code" class="up-down-sort">
                      <a class="down-button">
                        <i class="fa-solid fa-caret-down"></i>
                      </a>
                    </div>
                  </div>
                  <span>Mã sản phẩm</span>
                </div>
              </th>
              <th>Ảnh</th>
              <th>
                <div class="d-flex">
                  <div id="asc-title" class="btn-sort">
                    <div class="up-down-sort">
                      <a class="up-button">
                        <i class="fa-solid fa-caret-up"></i>
                      </a>
                    </div>

                    <div id="desc-title" class="up-down-sort">
                      <a class="down-button">
                        <i class="fa-solid fa-caret-down"></i>
                      </a>
                    </div>
                  </div>
                  <span>Tên sản phẩm</span>
                </div>
              </th>
              <th>
                <div class="d-flex">
                  <div class="btn-sort">
                    <div id="asc-price" class="up-down-sort">
                      <a class="up-button">
                        <i class="fa-solid fa-caret-up"></i>
                      </a>
                    </div>

                    <div id="desc-price" class="up-down-sort">
                      <a class="down-button">
                        <i class="fa-solid fa-caret-down"></i>
                      </a>
                    </div>
                  </div>
                  <span>Giá tiền</span>
                </div>
              </th>
              <th>Danh mục</th>
              <th>Tính năng</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>

          <nav aria-label="Page navigation example d-flex">
            <div class="d-flex justify-content-end">
              <span>Size:</span>
              <div class="ms-2 me-3">
                <select id="size-page" class="form-select form-select-sm">
                  <option>10</option>
                  <option>20</option>
                  <option>50</option>
                  <option>100</option>
                </select>
              </div>
              <div>
                <ul id="pagination" class="pagination">
<!--                  <li id="page-back" class="page-item">-->
<!--                    <a class="page-link"aria-label="Previous">-->
<!--                      <span aria-hidden="true">&laquo;</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="page-item"><a class="page-link">1</a></li>-->
<!--                  <li class="page-item"><a class="page-link">2</a></li>-->
<!--                  <li class="page-item"><a class="page-link">3</a></li>-->
<!--                  <li id="page-next" class="page-item">-->
<!--                    <a class="page-link" aria-label="Next">-->
<!--                      <span aria-hidden="true">&raquo;</span>-->
<!--                    </a>-->
<!--                  </li>-->
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <th:block th:replace="product/list/modal-edit-product :: modal-edit-product"/>
</main>
  <th:block th:replace="layout/script :: script"/>
  <th:block th:replace="product/list/list-productJS.html :: list-productJS"/>
</body>
</html>